.container {
    width: 70%;
    margin: auto;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6vw;
    color: #954704;
    text-align: center;
}

p {
  font-size: 2rem;
  color: #f9e561;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 35vw;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
 #btn{
  background-color: #d61f1fe4;
  width: 50vw;
  border-radius: 23px;
  color: aliceblue;
  font-weight: 700;
  outline: none;
  height: 5vh;
  font-size: larger;
 }

 .center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* border: 3px solid green;  */
}

#btn:hover{
  cursor: pointer;
  background-color: #ff1e1e80
}

/* tab */
@media (min-width:755px){
  img{
    width: 20vw;
  } 
  #verdict{
    font-size: 4.5vw;

  }
  p{
    font-size: 1.6rem;
  }
  #btn{
    width: 22vw;
    height: 4.5vh;
    font-size: small;
  }
}
/*  */

@media (min-width:955px){
  img{
    width: 19vw;
  } 
  #verdict{
    font-size: 3.5vw;

  }
  p{
    font-size: 1.6rem;
  }
  .center{
    height: 160px;
  }
  #btn{
    width: 22vw;
    height: 4.5vh;
    font-size: small;
  }
}


/* @media (min-width:900px){
  img{
    width: 15vw;
  }
} */